#include "../../../config/keymap.keymap"

/* 右手側（トラックボール搭載側）のビルド時のみ、速度を1/2（1000DPI相当）に減速する */
#if !defined(SHIELD_TORABO_TSUKI_LP_LEFT)
&trackball_peripheral_listener {
    input-processors = <&zip_xy_scaler 1 2>;
};
#endif
