#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/* もともとある設定の書き換え */
&pointing_listener {
    input-processors = 
        <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;

    /* 最優先にするため、scroller（レイヤー6）の設定を一番上に配置 */
    scroller {
        layers = <6>;
        input-processors = <&zip_xy_to_scroll_mapper>, <&zip_scroll_scaler 1 4>;
    };

    /* ポインター速度は落とさず、発動のしきい値（最低移動距離）だけを引き上げる */
    automouse {
        layers = <0 1 2 3 4 5>;
        input-processors = 
            <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_xy_thresher 8 8>, /* 👈 変更点：X軸・Y軸ともに「8」以上の大きな動きだけを検知する */
            <&zip_temp_layer 5 1500>;
    };
};

/* エラーの原因になっている古い命令を、空っぽにして無効化（上書き）する */
/ {
    /delete-property/ automouse-layer;
};

&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};
